/* ! NAVBAR */
.navbar {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-link {
    color: black;
    transition: color 0.5s;
}

.nav-link:hover {
    color: red;
}

/* ! CAROUSEL  */

.carousel-item {
    /* resme yükseklik vermek resmin kalitesini bozabilir(orjinal boyutu değiştirdiği için) */
    /* o yüzden resme yükseklik vermiyoruz ,max yükseklik belirliyoruz böylece resim (100vh-navbar ı aşmamış oluyor)*/
    /* height: calc(100vh - 61px); */
    height: calc(100vh - 61px);

}

.carousel-item h5 {
    font-size: 3rem;
    color: red;
    text-shadow: 2px 2px 2px black;
}

.carousel-item p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    font-weight: 600;

}

.carousel-item .btn {
    width: 8rem;
    margin-bottom: 1rem;
}

.carousel-indicators button {
    /* bootstrapt in koruduğu  elementleri !important ile eziyoruz */
    /* burada buton'u koruyor.button üstünde değişiklik yapmak için important kullanıyoruz */
    padding: 0.04rem !important;
    background-color: red !important;
    width: 3rem !important;
    height: 0.3rem !important;
    margin-right: 0.5rem !important;
    bottom: 5rem;

}

.carousel caption {
    /* bottom: 5rem; */
}

/* ! İNSTRUCTOR */

.card {
    transition: transform 0.5s;
}

/* seçiçi davranmak için instructors section nın .card ı diyoruz,sayfada başka yerlerde card yapısı olabilir */

section#instructors .card:hover {
    /* card üstüne gelince büyüme efekti yapar */
    transform: scale(1.1);

}

section#instructors .card i {
    transition: opacity 1s;
}

section#instructors .card i:hover {
    opacity: 0.5;
}

/* ! STUDENTS SECTİON */

section#students img {
    max-width: 400px;
    min-width: 200px;
}

/* ! COURSES SECTİON */

section#courses .nav-link.active {
    background-color: red;

}

section#courses .nav-link {
    color: white;

}

/* ! FOOTER */

footer i {
    /**  ikonun boyutuna,rengine vs müdahele etmek için font-size attribute kullanılır */
    /* width: 2rem; */
    font-size: 2rem;
    color: white;
    margin-right: 1rem;
    transition: color 1s;
}

footer i:hover {
    color: red;
}

/* ! UP BUTTON */

.btn-up {
    position: fixed;
    /** önce bottom ile başlamak gerekiyor aksi takdirde gözükmüyor */
    bottom: 1rem;
    right: 1rem;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.1rem;


}

.btn-up:hover {
    color: black;
}

.btn-up:hover i {
    transform: scale(1.5);
    font-size: 1.4rem;
}